# 1. Chuỗi kết nối Database Pooling
DATABASE_URL="postgresql+asyncpg://postgres:C1SE10_SupabaseDB@db.hgkklatgepyzbkkmwfvp.supabase.co:5432/postgres"

# 2. Đường dẫn API của Supabase
SUPABASE_URL="https://hgkklatgepyzbkkmwfvp.supabase.co"

# 3. Khóa API
SUPABASE_KEY="sb_publishable_PZ6ULiN7A4vuEYO99dpZEQ_nXpPItTy"