DATABASE_URL="postgresql+asyncpg://postgres.hgkklatgepyzbkkmwfvp:C1SE10_SupabaseDB@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"
# 2. Đường dẫn API của Supabase
SUPABASE_URL="https://hgkklatgepyzbkkmwfvp.supabase.co"

# 3. Khóa API
SUPABASE_KEY="sb_publishable_PZ6ULiN7A4vuEYO99dpZEQ_nXpPItTy"